body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    margin: 0 3.1415 0 0;
    padding: 0;
    }

body.home {
  background-attachment: fixed;
  background-size: cover;
  animation: 
    move 3.5s steps(40, end);
  background-image: url(dontlookthroughmycodeandfindthisimage.png);
}

body.one {
  background-attachment: fixed;
  background-size: cover;
  animation: 
    move 3.5s steps(50, end);
  background-image: url(monkey.jpeg);
}

body.two {
  border-radius: 50%;
  background-image: radial-gradient(circle at center, #ff0000 0%, rgba(255, 0, 0, 0) 100%),
                     radial-gradient(circle at center, #00ff00 0%, rgba(0, 255, 0, 0) 100%),
                     radial-gradient(circle at center, #0000ff 0%, rgba(0, 0, 255, 0) 100%);
  background-size: 0%, 50%, 100%;
  background-repeat: repeat;
  animation: outwardFlow 5s infinite;
}

body.three {
  border-radius: 70%;
  background-image: radial-gradient(circle at center, #006400 0%, #80400000 100%),
                  radial-gradient(circle at top left, #333333 0%, #66996600 100%),
                  radial-gradient(circle at bottom right, #0000ff 0%, #0066cc00 100%);
  /* Remove animation: outwardFlow 5s infinite; */
  animation: outwardFlow 5s infinite;
}

@keyframes outwardFlow {
  0% {
    background-size: 0%, 50%, 100%;
  }
  16% {
    background-size: 50%, 100%, 150%;
  }
  33% {
    background-size: 100%, 150%, 200%;
  }
  50% {
    background-size: 150%, 200%, 250%;
  }
  63% {
    background-size: 100%, 150%, 200%;
  }
  84% {
    background-size: 50%, 100%, 150%;
  }
  100% {
    background-size: 0%, 50%, 100%;  
  }
}


@keyframes move {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

p {
  color: #ffeffe;
}

p.system_data {
    font-size: 10px;
    color: #f8f8f8;
    font-style: oblique;
    }

p.error {
    font-size: 15px;
    color: #fffeef;
    font-family: monospace;
    letter-spacing: .14em; /* Adjust as needed */
}

div.content {
    width: 85%;
    margin: 100px auto;
    padding: 20px;
    background-color:#333333;
}

div.postcontent {
    width: 95%;
    margin: 100px auto;
    padding: 20px;
    background-color: #333333;
}

.post {
    margin-bottom: 2px;
    padding: 20px;
    border-bottom: 3px dashed #bbbbbb;
    border-top: 3px dashed #dddddd;
    white-space: pre-wrap; /* This preserves whitespace and line breaks in the text files */
}

p.typewriter {
    color: #eeeeee;
    background-color: #333333;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #006400; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
h1 {
    text-align: center;
    text-decoration: overline;
    color: #eeeeee;
    background-color: #333333;
    overflow: hidden;
    border-right: .5em solid #ffffff; /* Cursor rectangle */
    /*white-space: nowrap; /* If uncommented, keeps content on one line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
        typing 1.9s steps(40, end), 
        blink-caret .75s step-end infinite;
}


a {
  color: #62ff00;
  background-color: #33333e;
  padding: 0px 5px;
}

a:hover {
  color: #62ff88;
  background-color: #333322;
  padding: 0px 5px;
  margin: auto;
}
  /* The typing effect */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #006400; }
  }

/* Links inside the navbar */
.navbar a {
  text-decoration: double;
  float: left;
  display: block;
  color: #feebee;
  background-color: #333333;
  text-align: center;
  padding: 16px;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #abcdef;
  color: #123456; /* haha funny number */
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.shaky {
  position: inherit;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.shaky:hover {
  color: #7fff00;
}

@keyframes shake {
  0% { transform: translate(.3px, -.1px) rotate(0deg); }
  10% { transform: translate(-.1px, -.3px) rotate(-1deg); }
  20% { transform: translate(-.3px, 0px) rotate(1deg); }
  30% { transform: translate(.3px, .2px) rotate(0deg); }
  40% { transform: translate(0px, -.1px) rotate(1deg); }
  50% { transform: translate(-.1px, .1px) rotate(-1deg); }
  60% { transform: translate(-3px, .1px) rotate(0deg); }
  70% { transform: translate(.2px, .1px) rotate(-1deg); }
  80% { transform: translate(-.1px, -.1px) rotate(1deg); }
  90% { transform: translate(.1px, .2px) rotate(0deg); }
  100% { transform: translate(.1px, -.2px) rotate(-1deg); }
}

p.angryerror {
  font-size: 15px;
  color: #ff0051;
  font-family: monospace;
  letter-spacing: .14em; /* Adjust as needed */
  font-weight: bold;
}

p.cwisaesritam {
  letter-spacing: -2px;
}

 /* The navigation bar */
 .navbar {
  overflow: hidden;
  background-color: #333333;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-bottom: 8px solid #006400;
}