body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    margin: 0 3.1415 0 0;
    padding: 0;
    background-color: #dddddd;
}
p.system_data {
    font-size: 10px;
    color: #808080;
    font-style: oblique;
    background-color: #ffffff;
    }

p.error {
    font-size: 15px;
    color: #006400;
    font-family: monospace;
    letter-spacing: .14em; /* Adjust as needed */
}

h2.error {
    font-size: 20px;
    color: #006400;
    font-family: monospace;
}
#content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color:#ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.post {
    margin-bottom: 2px;
    padding: 20px;
    border-bottom: 2px solid #cccccc;
    border-top: 3px dashed #dddddd;
    white-space: pre-wrap; /* This preserves whitespace and line breaks in the text files */
}

p.typewriter {
    color: #eeeeee;
    background-color: #333333;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #006400; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
h1 {
    text-align: center;
    text-decoration: overline;
    color: #eeeeee;
    background-color: #333333;
    overflow: hidden;
    border-right: .5em solid #ffffff; /* Cursor rectangle */
    /*white-space: nowrap; /* If uncommented, keeps content on one line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
        typing 1.9s steps(40, end), 
        blink-caret .75s step-end infinite;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



  /* The typing effect */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #006400; }
  }

