body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    margin: 0 3.1415 0 0;
    padding: 0;
    background-color: #dddddd;
}
p.system_data {
    font-size: 10px;
    color: gray;
    font-style: oblique;
}

p.error {
    font-size: 15px;
    color: #006400;
    font-family: monospace;
}
h2.error {
    font-size: 20px;
    color: #006400;
    font-family: monospace;
}
#content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color:#ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.post {
    margin-bottom: 2px;
    padding: 20px;
    border-bottom: 2px solid #cccccc;
    border-top: 3px dashed #dddddd;
    white-space: pre-wrap; /* This preserves whitespace and line breaks in the text files */
}